@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "Index";
}

    <h2>Welcome to your Trash Home @Model.Firstname</h2>

<table class="table table-bordered table-hover">
    <thead>

    </thead>
    <tbody>
       
            <tr>
                <td>@Html.ActionLink("Details", "Details", new { id = this.Model.ID }, null)</td>               
            </tr>
        
    </tbody>
</table>
<body>
    <h1>Your balance is @Model.Balance</h1>
    <h3>We will pick up your trash every @Model.WeeklyPickUpDate</h3>
</body>