@{
    ViewBag.Title = "Home Page";
}

    @*<div class="form-actions no-color">
        <value ="Index" class="btn btn-default" /> |
        @Html.ActionLink("To Info", "Details", "Customer")
    </div>*@
    @*@if(Roles.GetRolesForUser()
    {

    }*@