@model IEnumerable<TrashCollector.Models.Customer>
@{
    ViewBag.Title = "Index";
}



<h2>This is the home page for Employees Brah!</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Employee</th>
        </tr>
    </thead>
    <tbody>
        @*//tr
            //td
                foreach

            valu in model.*@

        @*<tr>
            <td>@Html.ActionLink("Details", "Details", new { id = this.Model.Id }, null)</td>
        </tr>*@

    </tbody>
</table>
<body>
    <h2>Todays pick ups</h2>

</body>